In [4]:
import sqlite3

bdd = sqlite3.connect("livres_db")
curseur = bdd.cursor()

requete = "SELECT * FROM Livres;"
curseur.execute(requete)
resultat = curseur.fetchall()
[d[0] for d in curseur.description]
for l in resultat:
    print(l)

(1, '1984', 1, 1949)
(2, 'Dune', 2, 1965)
(3, 'Fondation', 3, 1951)
(4, 'Le meilleur des mondes', 4, 1931)
(5, 'Fahrenheit 451', 5, 1953)
(6, 'Ubik', 6, 1969)
(7, 'Chroniques martiennes', 5, 1950)
(8, 'La nuit des temps', 7, 1968)
(9, 'Blade Runner', 6, 1968)
(10, 'Les Robots', 3, 1950)
(11, 'La Planète des singes', 8, 1963)
(12, 'Ravage', 7, 1943)
(13, 'Le Maître du Haut Château', 6, 1962)
(14, 'Le monde des A', 9, 1945)
(15, 'La Fin de l’éternité', 3, 1955)
(16, 'De la Terre à la Lune', 10, 1865)

In [15]:
def prenom(c, nom):
    requete = "SELECT PrenomAuteur FROM Auteurs WHERE NomAuteur = ?"
    c.execute(requete, [nom])
    r = c.fetchall()
    if len(r) == 0:
        return None
    elif len(r) == 1:
        return r[0]
    
print(prenom(curseur, 'Orwell'))

def naissance_apres(c,annee):
    requete = "SELECT AnneeNaissance, PrenomAuteur,NomAuteur FROM Auteurs WHERE AnneeNaissance > ? ORDER BY AnneeNaissance;"
    c.execute(requete, [annee])
    r = c.fetchall()
    if len(r) == 0:
        return None
    else:
        return r
    
    
print(naissance_apres(curseur, 1900))    
    
requete = "SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name;"
curseur.execute(requete)
resultat = curseur.fetchall()
# print(resultat)
liste_table = [d[0] for d in resultat]
for t in liste_table:
    print(t)

('George',)
[(1903, 'George', 'Orwell'), (1911, 'René', 'Barjavel'), (1912, 'Pierre', 'Boulle'), (1912, 'Alfred Elton', 'Van Vogt'), (1920, 'Frank', 'Herbert'), (1920, 'Isaac', 'Asimov'), (1920, 'Ray', 'Bradbury'), (1928, 'Philip', 'K. Dick')]
Auteurs
Langues
Livres
RelationsLivreTheme
Themes

In [4]:
requete = "PRAGMA table_info(Auteurs);"
curseur.execute(requete)
resultat = curseur.fetchall()
for c in resultat:
    print(c)

(0, 'IdAuteur', 'INTEGER', 0, None, 1)
(1, 'NomAuteur', 'TEXT', 0, None, 0)
(2, 'PrenomAuteur', 'TEXT', 0, None, 0)
(3, 'IdLangue', 'INTEGER', 0, None, 0)
(4, 'AnneeNaissance', 'INTEGER', 0, None, 0)

In [16]:
for table in liste_table:
    requete = "PRAGMA table_info("+table+");"
    curseur.execute(requete)
    resultat = curseur.fetchall()
    print("\nTable",table)
    for c in resultat:
        print(c)
        
    requete = "SELECT * FROM "+table+";"
    curseur.execute(requete)
    resultat = curseur.fetchall()
    print("\nEnregistrements",table)
    for c in resultat:
        print(c)

Table Auteurs
(0, 'IdAuteur', 'INTEGER', 0, None, 1)
(1, 'NomAuteur', 'TEXT', 0, None, 0)
(2, 'PrenomAuteur', 'TEXT', 0, None, 0)
(3, 'IdLangue', 'INTEGER', 0, None, 0)
(4, 'AnneeNaissance', 'INTEGER', 0, None, 0)

Enregistrements Auteurs
(0, 'Lecluse', 'Olivier', 2, 1870)
(1, 'Orwell', 'George', 1, 1903)
(2, 'Herbert', 'Frank', 1, 1920)
(3, 'Asimov', 'Isaac', 1, 1920)
(4, 'Huxley', 'Aldous', 1, 1894)
(5, 'Bradbury', 'Ray', 1, 1920)
(6, 'K. Dick', 'Philip', 1, 1928)
(7, 'Barjavel', 'René', 2, 1911)
(8, 'Boulle', 'Pierre', 2, 1912)
(9, 'Van Vogt', 'Alfred Elton', 1, 1912)
(10, 'Verne', 'Jules', 2, 1828)

Table Langues
(0, 'IdLangue', 'INTEGER', 0, None, 1)
(1, 'Langue', 'TEXT', 0, None, 0)

Enregistrements Langues
(1, 'Anglais')
(2, 'Français')

Table Livres
(0, 'IdLivre', 'INTEGER', 0, None, 1)
(1, 'Titre', 'TEXT', 0, None, 0)
(2, 'IdAuteur', 'INTEGER', 0, None, 0)
(3, 'AnneePubli', 'INTEGER', 0, None, 0)

Enregistrements Livres
(1, '1984', 1, 1949)
(2, 'Dune', 2, 1965)
(3, 'Fondation', 3, 1951)
(4, 'Le meilleur des mondes', 4, 1931)
(5, 'Fahrenheit 451', 5, 1953)
(6, 'Ubik', 6, 1969)
(7, 'Chroniques martiennes', 5, 1950)
(8, 'La nuit des temps', 7, 1968)
(9, 'Blade Runner', 6, 1968)
(10, 'Les Robots', 3, 1950)
(11, 'La Planète des singes', 8, 1963)
(12, 'Ravage', 7, 1943)
(13, 'Le Maître du Haut Château', 6, 1962)
(14, 'Le monde des A', 9, 1945)
(15, 'La Fin de l’éternité', 3, 1955)
(16, 'De la Terre à la Lune', 10, 1865)

Table RelationsLivreTheme
(0, 'IdRelation', 'INTEGER', 0, None, 1)
(1, 'IdLivre', 'INTEGER', 0, None, 0)
(2, 'IdTheme', 'INTEGER', 0, None, 0)

Enregistrements RelationsLivreTheme
(1, 1, 1)
(2, 1, 2)
(3, 1, 3)
(4, 1, 4)
(5, 2, 1)
(6, 2, 3)
(7, 3, 1)
(8, 3, 5)
(9, 4, 1)
(10, 4, 2)
(11, 4, 4)
(12, 5, 1)
(13, 5, 4)
(14, 6, 1)
(15, 6, 3)
(16, 7, 1)
(17, 7, 3)
(18, 8, 1)
(19, 8, 6)
(20, 9, 1)
(21, 9, 7)
(22, 10, 1)
(23, 10, 7)
(24, 11, 1)
(25, 11, 4)
(26, 12, 1)
(27, 12, 3)
(28, 13, 4)
(29, 13, 8)
(30, 14, 1)
(31, 14, 7)
(32, 15, 1)
(33, 15, 9)
(34, 16, 1)
(35, 16, 10)

Table Themes
(0, 'IdTheme', 'INTEGER', 0, None, 1)
(1, 'Intitule', 'INTEGER', 0, None, 0)

Enregistrements Themes
(1, 'Science-fiction')
(2, 'Totalitarisme')
(3, 'Anticipation')
(4, 'Dystopie')
(5, 'Economie')
(6, 'Tragédie')
(7, 'Intelligence artificielle')
(8, 'Uchronie')
(9, 'Voyage dans le temps')
(10, 'Aventure')

In [6]:
requete = "SELECT * FROM sqlite_master"
curseur.execute(requete)
resultat = curseur.fetchall()
for c in resultat:
    print(c)

('table', 'Langues', 'Langues', 2, 'CREATE TABLE "Langues" \n(\n"IdLangue" INTEGER  PRIMARY KEY,\n"Langue"   TEXT\n)')
('table', 'Auteurs', 'Auteurs', 3, 'CREATE TABLE "Auteurs" (\n    "IdAuteur"       INTEGER  PRIMARY KEY,\n    "NomAuteur"      TEXT,\n    "PrenomAuteur"   TEXT,\n    "IdLangue"         INTEGER,\n    "AnneeNaissance" INTEGER\n)')
('table', 'Livres', 'Livres', 4, 'CREATE TABLE Livres(\n    "IdLivre" INTEGER  PRIMARY KEY,\n\t"Titre" TEXT,\n\t"IdAuteur" INTEGER,\n\t"AnneePubli" INTEGER\n)')
('table', 'Themes', 'Themes', 5, 'CREATE TABLE Themes (\n    "IdTheme"        INTEGER PRIMARY KEY,\n    "Intitule"  INTEGER\n)')
('table', 'RelationsLivreTheme', 'RelationsLivreTheme', 6, 'CREATE TABLE RelationsLivreTheme (\n    "IdRelation"        INTEGER PRIMARY KEY,\n    "IdLivre"  INTEGER,\n    "IdTheme"  INTEGER\n)')

In [13]:
requete = "SELECT * FROM Livres LEFT join Auteurs ON Livres.IdAuteur=Auteurs.IdAuteur WHERE NomAuteur='Asimov';"
curseur.execute(requete)
resultat = curseur.fetchall()
[d[0] for d in curseur.description]
resultat

[(3, 'Fondation', 3, 1951, 3, 'Asimov', 'Isaac', 1, 1920),
 (10, 'Les Robots', 3, 1950, 3, 'Asimov', 'Isaac', 1, 1920),
 (15, 'La Fin de l’éternité', 3, 1955, 3, 'Asimov', 'Isaac', 1, 1920)]

In [7]:

bdd.close()