## introduction aux concepts de base de la programmation avec Python

### variables

In [7]:
print('Bonjour gabriela !')

Bonjour gabriela !

In [8]:
x = 'Gabriela'
print('Bonjour', x)

Bonjour Gabriela

In [9]:
prenom = 'Gabriela'
print('Bonjour', prenom)

Bonjour Gabriela

In [10]:
prenom_1 = 'Gabriela'
prenom_2 = 'Yves'
print('Bonjour', prenom_1,"et",prenom_2)

Bonjour Gabriela et Yves

#### les variables peuvent changer de valeur

In [11]:
prenom_2 = 'Jean'
print('Bonjour', prenom_1,"et",prenom_2)

Bonjour Gabriela et Jean

#### Types de variables

In [13]:
x = 3  # entiers relatifs int
y = 4.56 # nombre décimal float
z = 'ananas' # chaine de caractères string
print(x,z, 'pèsent',y,'kilos')

3 ananas pèsent 4.56 kilos

##### type booléen

In [48]:
valeur_1 = True
valeur_2 = False
print(valeur_1)

True

### Opérateurs

#### Opérateurs arithmétiques : + - * / // %

In [53]:
a = 52
b=5
print('addition', a+b)
print('soustraction', a-b)
print('multiplication', a*b)
print('division', a/b)
print('division entiere',a//b)
print('modulo',a%b)
print(a, '= (',a//b,'*',b,') +',a%b)

addition 57
soustraction 47
multiplication 260
division 10.4
division entiere 10
modulo 2
52 = ( 10 * 5 ) + 2

In [19]:
a =8
print(5*a)

16

In [81]:
a = 'Bonjour'
b = 'Gabriela'
print(a+b)
print(a+' '+b)

BonjourGabriela
Bonjour Gabriela

In [ ]:
a = 10
b = 5
c= '5'
print(a + b)
# print(a + c)
print(str(a) + c)
print(a + int(c))

##### Opérateurs de comparaison : == > < >= <=

In [49]:
# 
print(3 < 4)

True

#### Opérateurs logiques : et ou non

In [58]:
print("3<4 and 5>2 : ",3<4 and 5>2)
print("3<4 and 5<2 : ",3<4 and 5<2)
print("3<4 or 5<2 : ",3<4 or 5>2)
print("3<4 and not 5>2 : ",3<4 and not 5>2)

3<4 and 5>2 :  True
3<4 and 5<2 :  False
3<4 or 5<2 :  True
3<4 and not 5>2 :  False

### (Instruction de )Tests

#### si ... alors ...

In [65]:
a = 2
b = 3
print('début du test')
if a>b:
    print(a,'est plus grand que',b)
print('fin du test')

début du test
fin du test

#### si ... alors ... sinon ...

In [71]:
a = 2
b = 3
# a = int(input('Entrer a : '))
# b = int(input('Entrer b : '))
print('début du test')
if a>b:
    print(a,'est plus grand que',b)
else:
    print(a,'est plus petit que',b)
print('fin du test')

a : 3
b : 5
début du test
3 est plus petit que 5
fin du test

### instruction de boucle

Boucle "pour" -> "for"
on sait combien de fois on veut boucler

In [67]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [78]:
for a in range(11):
    print(a ,'* 5 =',5*a)

0 * 5 = 0
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [80]:
# ajouter la variable n
# ajouter la variable max
n = 4
max = 21
for a in range(max):
    print(a ,'*',n,' =',n*a)

0 * 4  = 0
1 * 4  = 4
2 * 4  = 8
3 * 4  = 12
4 * 4  = 16
5 * 4  = 20
6 * 4  = 24
7 * 4  = 28
8 * 4  = 32
9 * 4  = 36
10 * 4  = 40
11 * 4  = 44
12 * 4  = 48
13 * 4  = 52
14 * 4  = 56
15 * 4  = 60
16 * 4  = 64
17 * 4  = 68
18 * 4  = 72
19 * 4  = 76
20 * 4  = 80

Boucle "tant que" -> "DOXxx avec xx in(EQ, NE, GT, GE, LT, LE)

In [69]:
i = 0
while i < 10:
    print(i)
    i = i+2
    # i+=2 =>

0
2
4
6
8

### Tableaux, liste

In [11]:
liste_prenoms = ['Gabriella', 'Yves', 'Jean']
print(liste_prenoms[2])
print('---')
for prenom in liste_prenoms:
    print("Bonjour",prenom)
liste_prenoms.append('Lucie')
print('---')

for i in range(len(liste_prenoms)):
    print("Bonjour" ,liste_prenoms[i])
liste_prenoms.pop(1)
print('---')

for prenom in liste_prenoms:
    print("Bonjour",prenom)
    
    
"""savoir si une valeur est dans un tableau
1 : tester toutes les valeurs
tester chaque valeur du tableau tant qu'elle n'est pas égale ou qu'on arrive pas au bout 
ou employer in ...
"""

from random import randint
tab = []
for _ in range(1000):
    tab.append(randint(0, 100))
tab.sort()
print(tab)

Jean
---
Bonjour Gabriella
Bonjour Yves
Bonjour Jean
---
Bonjour Gabriella
Bonjour Yves
Bonjour Jean
Bonjour Lucie
---
Bonjour Gabriella
Bonjour Jean
Bonjour Lucie
[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 56, 56, 56, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 61, 61, 61, 61, 61, 61, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 63, 63, 63, 63, 63, 63, 63, 63, 63, 64, 64, 64, 64, 64, 64, 64, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 67, 67, 67, 67, 67, 67, 67, 67, 67, 68, 68, 68, 68, 68, 68, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 71, 71, 71, 71, 71, 71, 71, 71, 71, 72, 72, 72, 72, 72, 72, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 76, 76, 76, 76, 76, 76, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 80, 80, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 82, 82, 82, 82, 82, 82, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 89, 89, 89, 89, 89, 89, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 91, 91, 91, 91, 91, 91, 91, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 98, 98, 98, 98, 98, 98, 98, 98, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [11]:
liste_prenoms[1] = 'Jules'
for prenom in liste_prenoms:
    print("Bonjour",prenom)

Bonjour Gabriella
Bonjour Jules
Bonjour Lucie